<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="2">
  <test name="RedBusBusesTest">
    <classes>
      <class name="com.redbus.automation.runner.RunBusesTest"/>
    </classes>
  </test>
  <test name="RedBusHotelsTest">
    <classes>
      <class name="com.redbus.automation.runner.RunHotelsTest"/>
    </classes>
  </test>
</suite>